*{
  margin: 0;
  color: #bfbfbf;
}

.header{
 background-color: aquamarine;
 height: 3em;
 display: flex;
 justify-content: center;
 align-items: center;
}

.body{
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: flex-start;
  margin: 2em 0;
}

.formStyles {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  border: 1px solid aquamarine;
  align-items: center;
  border-radius: 7px;
}

.formStyles > label {
  width: 150px;
  margin: 1em;
  color: #bfbfbf;
}

.formStyles > label > input {
  border: 1px solid aquamarine;
}

.formStyles > button {
  margin: 1em;
  height: 2em;
  background-color: #ffff;
  color: #bfbfbf;
  border: 1px solid #00ffff ;
  border-radius: 5px;
}

.formStyles > button:hover {
  cursor: pointer;
}

.messange{
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 150px;
  justify-content: center;
  border: 1px solid aquamarine;
  align-items: center;
  border-radius: 7px;
}